.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.cancelBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 8px;
  background-color: transparent;
}

.modalText {
  font-weight: 600;
}
